.back-btn{
    width: 90px;
    padding-right: 25px;
    transition: all 0.5s;

    svg{
        opacity: 0;
        transition: all 0.5s;

        margin-right: 5px;
    }

    &:hover{
        padding-right: 7px;

        svg{
            opacity: 1;
        }
    }
}