.search-box{
    // margin-left: 20px;
    color: var(--main-text-color);
    position: relative;
    width: 500px;

    @include responsiveToSize(768px){
        width: 400px;
    }

    @include responsiveToSize(640px){
        width: 300px;
    }

    @include responsiveToSize(575px){
        width: 100%;
    }

    svg{
        position: absolute;
        left: 30px;
        top: 50%;
        transform: translate(-50%, -50%);   

        pointer-events: none;
    }

    .search-input{
        padding: 12px 20px 12px 60px;
    }
}